@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #003049;
    --secondary-color: #EAE2B7; /* 234,226,183 */
    --accent1-color: #FCBF49;
    --accent2-color: #F77F00; /* 247,127,0 */
  
    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Open Sans', serif;
  
    --nav-background-color: #003049;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #003049;
    --nav-hover-background-color: #EAE2B7;
  }

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
	grid-template-columns: 1fr 2fr;
}

nav {
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

p {
    padding: 25px;
}

footer{
    display: grid;
	grid-template-columns: 1fr repeat(3,70px);
    margin: 1em;
}

footer p {
    display: flex;
    margin: auto;
}

footer a {
    display: flex;
    margin: 0;
    text-decoration: none;
}

form {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

legend, label {
    padding: 5px;
}

input, textarea {
    padding: 1rem;
    border-radius: .5rem;
    font-size: large;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}


.logo {
    margin: auto;
}

.history {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.history h2 {
    grid-column: 1 / span 3;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    background-color: var(--accent1-color);/*rgba(234, 226, 183, 0.5);*/
}

.history img {
    margin: auto;
    width: 200px;
    height: auto;
}

.adventures {
    display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.adventures h2 {
    grid-column: 1 / span 5;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    background-color: var(--accent1-color);/*rgba(234, 226, 183, 0.5);*/
}

.adventures figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.adventures img {
    width: 80%;
}

.hero div {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 222px;
    width: 100%;
    max-width: 940px;
    padding-right: 20px;
    text-align: right;
    background-color: var(--accent1-color);/*rgba(234, 226, 183, 0.5);*/
}

.hero article {
    position: absolute;
    top: 622px;
    left: 80px;
    width: 100%;
    max-width: 815px;
    padding: 20px;
    background-color: rgba(247, 127, 0, 0.7);
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
}

.contact {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.contact h1 {
    grid-column: 1 / span 2;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    background-color: var(--accent1-color);/*rgba(234, 226, 183, 0.5);*/
}

.company {
    display: flex;
    font-weight: bold;
    flex-flow: column;
    width: 80%;
}

.company div {
    border: 1px solid lightgrey;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
}

.company-info {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    align-items: center;
}

.company-info-2 {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.company-info img {
    width: 32px;
    padding: 10px;
}
.company-info-header {
    font-size: small;
    font-weight: normal;
}

.map {
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 80%;
}

.employee {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
    width: 80%;
}

.employee figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.employee img {
    width: 100px;
}

.radio-options {
    display: grid;
    flex-direction: column;
}

.form-check {
    padding: 1rem;
}